/* 
 *	 # 	Organización básica css
 *	## 	Creado por @juandiegoles 2015 con fines pedagógicos*
 *	##	Recomiendo encarecidamente el uso de sass http://sass-lang.com/
 *		- Se ordenará por orden alfabético.
 *			- Usamos el orden alfabético para que el código 
 *			sea más fácil de leer por otros desarrolladores.
 *		- El tab size será 4.
 *		- Recuerda comentar todo para no olvidarlo.	
 *
 * 	## 	Modules
 *		- En este css vamos a usar de manera modular a lo largo 
 *		de nuestros proyecto
 *
 */

/* Misc */
.icons {
	/* Esta es la manera accesible de poner un icono de fondo */
	display: inline-block;
	text-indent: -999em;
}

/* Grids */
.container {
	/* usamos este margin para centrar elementos, 
	(solo funciona si tiene width definido) */
	margin: 0 auto;
	width: 80%;
}
