/* 
 *	 # 	Organización básica css
 *	## 	Creado por @juandiegoles 2015 con fines pedagógicos*
 *	##	Recomiendo encarecidamente el uso de sass http://sass-lang.com/
 *		- Se ordenará por orden alfabético.
 *			- Usamos el orden alfabético para que el código 
 *			sea más fácil de leer por otros desarrolladores.
 *		- El tab size será 4.
 *		- Recuerda comentar todo para no olvidarlo.	
 *
 * 	## 	Base
 *		- En este css vamos a poner todas las tags básicas. 
 *		No ponemos ni class ni id
 *
 */

/* Fix respaldar tags html5 en navegadores viejos */
article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section {
	display: block;
}

/* Quitamos los margenes por defecto del documento */
body, 
html { 
	/* Cuando las cifras son 0 no ponemos el formato (px,em,rm) */
	margin: 0; 
	padding: 0; 
}